## CONTENT LIST

1. Importing Libraries
2. Importing Data
3. Checking Data
4. Merging Dataframes
5. Exporting Data

## 1. Importing Libraries

In [22]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [23]:
# Importing df_ords
df_ords = pd.read_csv(r'C:\Users\heidi\OneDrive\CareerFoundry\Achievement4 Python Fundamentals for Data Analysts\4.2.Jupyter_Fundamentals_and_Python_Data_Types\Instacart Basket Analysis 16-03-2021\02 Data\Prepared Data\cleaned_ords.csv', index_col = False)

In [24]:
# Create path
path = r'C:\Users\heidi\OneDrive\CareerFoundry\Achievement4 Python Fundamentals for Data Analysts\4.2.Jupyter_Fundamentals_and_Python_Data_Types\Instacart Basket Analysis 16-03-2021\02 Data'

In [25]:
# Importing df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, 'Prepared Data','order_products__prior.csv'), index_col = False)

## 3. Checking Data

In [26]:
# View output df_ords
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,11.11
1,1,1,2398795,1,2,3,7,15.00
2,2,2,473747,1,3,3,12,21.00
3,3,3,2254736,1,4,4,7,29.00
4,4,4,431534,1,5,4,15,28.00

In [27]:
# View output df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
# Checking rows and columns
df_ords.shape

(3421083, 8)

In [29]:
# Checking rows and columns
df_ords_prior.shape

(32434489, 4)

## 4. Merging Dataframes

In [30]:
# Merge df_ords_prior on df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [31]:
# View new merge
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,11.11,196,1,0,both
1,0,0,2539329,1,1,2,8,11.11,14084,2,0,both
2,0,0,2539329,1,1,2,8,11.11,12427,3,0,both
3,0,0,2539329,1,1,2,8,11.11,26088,4,0,both
4,0,0,2539329,1,1,2,8,11.11,26405,5,0,both

In [32]:
# Checking rows and columns
df_merged_large.shape

(32434489, 12)

In [33]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [34]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))